.App {
  textalign: center;
}

.Applogo {
  height: 40vmin;
  pointerevents: none;
}

@media (prefersreducedmotion: nopreference) {
  .Applogo {
    animation: Applogospin infinite 20s linear;
  }
}

.Appheader {
  backgroundcolor: #282c34;
  minheight: 100vh;
  display: flex;
  flexdirection: column;
  alignitems: center;
  justifycontent: center;
  fontsize: calc(10px + 2vmin);
  color: white;
}

.Applink {
  color: #61dafb;
}

@keyframes Applogospin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
