body {
  margin: 0;
  fontfamily: applesystem, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sansserif;
  webkitfontsmoothing: antialiased;
  mozosxfontsmoothing: grayscale;
}

code {
  fontfamily: sourcecodepro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
